<div id="div2">
    <div id="hijoDiv2">
        <h3>F<span>O</span>RUM</h3>
        <h4>Te invita</h4>
        <div class="circulo-2"></div>
        <div class="text3">CÍRCULO <br> <span>Emprendedores</span></div>
        <p class="text4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br> Hic architecto ut accusamus illum temporibus excepturi eos <br> dolor, assumenda voluptatibus dolorem.</p>
        <p class="text5">REVISTA FORUM</p>
        <p class="text6">La revista de negocios de la region.</p>
    </div>
</div>