<div id="div4">
    <div id="hijoDiv4">
        <h4 class="textDiv4">Revista</h4>
        <h3 class="forum">F<span>O</span>RUM</h3>
        <p class="contactanos">CONTACTANOS</p>
        <p class="textDiv4-2">EMAIL:</p><br>
        <p class="textDiv4-3">contacto@revistaforum.com</p><br>
        <p class="textDiv4-4">TELEFONO: </p><br>
        <p class="textDiv4-5">42-2-38-12-81</p><br>
        <p class="textDiv4-6">DIRECCION: </p><br>
        <p class="textDiv4-7">Av. Libertad 683 - Chiflan</p>
    </div>
</div>